.theme-btn {
  border: none;
  background: transparent;
  padding: 4px;
  cursor: pointer;
}

.theme-btn img {
  width: 50px;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 160px;
  padding: 32px 0 32px;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.heading, .subheading {
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
}
